*{
  box-sizing: border-box;
}
 
body{
  margin: 0;
}

header{
  background-color: rgb(227, 224, 224);
  text-align: center;
  padding: 25px;
}

.navbar{
  background-color: black;
  height: 50px;
}

aside{
  width: 20%;
  float: left;
  padding: 10px;
}

section{
  width: 40%;
  float: left;
  padding: 10px;
}

article{
  width: 40%;
  float: left;
  padding: 10px;
}

footer{
  display: block;
  clear: both;
  background-color: rgb(227, 224, 224);
  text-align: center;
  padding: 25px;
}

@media screen and (max-width:600px){
  aside,section,article{
    width: 100px;
  }
}

.gallery{
  display: inline-block;
  border-radius: 1px solid grey;
  margin: 5px;
}

.gallery .description{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.gallery:hover{
  border: 1px solid black;
}

.gallery img{
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin: 0;
}



#box1{
  width: 100px;
  height: 100px;
  font-size: 6em;
  text-align: center;
  background-color: green;
  animation-name: colorchange;
  animation-duration: 2s;
  margin-bottom: 100px;
}

@keyframes slideleft{
  from{transform: translateX(300px)}
} 
  

@keyframes slideup{
  to{transform: translatey(300px)}
} 
  

@keyframes rotate{
  50%{transform: rotatez(360deg)}
} 
  

@keyframes fade{
  50%{opacity:0;}
} 
  

@keyframes colorchange{
  0%{background-color: red;}
  20%{background-color: yellow;}
  40%{background-color: green;}
  60%{background-color: hsl(202, 100%, 62%)}
  80%{background-color: hsl(266, 100%, 62%)}
} 
  